.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-big) var(--padding-big) 0rem var(--padding-big);
  min-height: 100vh;
  width: 100%;

  max-width: var(--max-width);
  min-width: var(--min-width);
  margin: 0 auto;
}

