.layout-container {
  --height-top: 8rem;
  --height-all: calc( 100vh - var(--padding-big) * 3 );

  min-width: var(--min-width);
  width: 100%;
  height: var(--height-all);   
  position: relative; /* Necessary for absolute positioning of children */
}

.layout-top {
  height: var(--height-top);
  width: 33%;
  padding: var(--padding-typ);

  display: flex;                /* Establishes a flex container */
  justify-content: flex-end;    /* Aligns children (text) horizontally to the end */
  align-items: flex-end;        /* Aligns children vertically to the end */
  text-align: right;
  font-size: 1.0rem;
}
.layout-section {
  position: absolute;
  top: 0;
  width: 100%;
}

.layout-a-left,
.layout-a-right,
.layout-b-left,
.layout-b-right {
  position: absolute;
  overflow: auto;
  line-height: 1.25;
  text-align: justify;
  color: #333;
}
.layout-a-left,
.layout-b-left {
  top: var(--height-top);
  width: 66%;
  font-size: 0.9rem;
}
.layout-a-right,
.layout-b-right {
  left: 33%;
  width: 66%;
  font-size: 0.8rem;
  min-height: var(--height-all);
}


.layout-a-center,
.layout-b-center {
  /* Remove position, top, and transform properties */
  float: right;
  margin-left: var(--padding-typ);
  margin-bottom: var(--padding-typ);
  box-sizing: border-box;

  font-family: var(--font-serif);
  text-align: left;
  user-select: none;
  background-color: hsla(0, 0%, 100%, 0.50);
  padding: var(--padding-typ);
}

.layout-a-center {
  width: 100%;
  font-size: 0.7rem;
  line-height: 1.25;
}
.layout-b-center { 
  width: 50%;
  height: 50vh;
  font-size: 1.0rem;
  line-height: 1.25;      
}

.layout-center-spacer {
  float:left;
  clear:left;
  width: 0px; 
  height: calc( var(--height-top) - var(--padding-typ) );
}
.layout-center-ghost {
  float:left;
  clear:left;
  width: calc( 50% + var(--padding-typ) );
  min-height: calc(100vh - var(--height-top) - var(--padding-big) );
  z-index: -1;
}



.scrollable-div {
  overflow-y: scroll;
  /* or auto */
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer 10+ */
  
}

.scrollable-div::-webkit-scrollbar {
  display: none;
  /* For WebKit browsers */
}

