.layout-container {
  --height-top: 8rem;
  --height-all: calc( 100vh - var(--padding-big) * 3 );

  min-width: var(--min-width);
  width: 100%;
  height: var(--height-all);   
  position: relative; /* Necessary for absolute positioning of children */
}

.layout-top {
  height: var(--height-top);
  width: 33%;
  padding: var(--padding-typ);

  display: flex;                /* Establishes a flex container */
  justify-content: flex-end;    /* Aligns children (text) horizontally to the end */
  align-items: flex-end;        /* Aligns children vertically to the end */
  text-align: right;
}
.layout-section {
  position: absolute;
  top: 0;
  width: 100%;
}

.layout-left,
.layout-right {
  position: absolute;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.25;
  text-align: justify;
}
.layout-left {
  top: var(--height-top);
  width: 66%;
}
.layout-right {
  left: 33%;
  width: 66%;
  min-height: var(--height-all);
}


.layout-center {
  /* Remove position, top, and transform properties */
  float: right;
  width: 50%;
  margin-left: var(--padding-typ);
  margin-bottom: var(--padding-typ);
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-serif);
  font-size: 1.1rem;
  line-height: 1.25;
  text-align: left;
}

.layout-center-short { height: 50vh;}
.layout-center-tall {
  height: 100%;
  min-height: calc(100vh - var(--height-top) - var(--padding-big) - var(--padding-typ)*2);
}
.layout-center-spacer {
  float:left;
  clear:left;
  width: 0px; 
  height: calc( var(--height-top) - var(--padding-typ) );
}
.layout-center-ghost {
  float:left;
  clear:left;
  width: calc( 50% + var(--padding-typ) );
  min-height: calc(100vh - var(--height-top) - var(--padding-big) - var(--padding-typ)*2);
  z-index: -1;
}



.scrollable-div {
  overflow-y: scroll;
  /* or auto */
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer 10+ */
}

.scrollable-div::-webkit-scrollbar {
  display: none;
  /* For WebKit browsers */
}